<div class="container">
    <div class="box">
        <div class="row">
          <div class="col-md-8">
            <input type="text" class="form-control" [(ngModel)]="firstName" placeholder="First name" required autofocus>
          </div>
          <div class="col-md-8">
            <input type="text" class="form-control" [(ngModel)]="lastName" placeholder="Last name" required>
          </div>
        <div class="col-md-8">
            
            <input type="email" class="form-control" id="inputEmail4" [(ngModel)]="email" placeholder="Email" required>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" id="formGroupExampleInput2" [(ngModel)]="mobileNumber" placeholder="Mobile" required>
        </div>
        <div class="col-md-8">
            <input type="password" class="form-control" id="inputPassword4" [(ngModel)]="password" placeholder="Password" required>
        </div>
      </div>
 
    
      <div class="signupBtn">
      <button type="button" (click)="signupFunction()" class="btn btn-primary">SignUp</button>
    </div>
    
 
  </div>
</div>
 
  



   